<div class="card text-center">
  <div class="card-header">
  <h4>QR</h4>
  </div>

<%= render partial:'book'%>  
<hr>
<table class="table table-striped table-success">
  <thead>
    <tr>
      <th scope="col">S.N.</th>
      <th scope="col">Info</th>
      <th scope="col">Booked at</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
  <% @tickets.each do |tick| %>
    <tr>
      <th scope="row"><%= tick.id %></th>
      <td><%= tick.info %></td>
      <td><%= tick.created_at %></td>
      <td><%= link_to 'Show QR', tick, class:"btn btn-primary"  %></td>
    </tr>
  <% end %>
  </tbody>
</table>
